<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p><%=category_detail.name%></p>
      <p><%=category_detail.description%></p>

      <a href="<%=category_detail.url%>/delete">delete</a>
    </div>  
  </body>
</html>
