<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class='bg-slate-900'>
    <div  class="flex min-h-full flex-col justify-center  px-6 py-12 lg:px-8 ">
       <h1 class='mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white'><%= title %></h1>
    <form method='POST' action='' class="space-y-6 w-full mx-auto max-w-4xl">
      <div class="mb-6">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Item name: 
        </label>
        <input type="text" name="name" value='<%=item.name%>' required='true' 
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <div class="mb-6">
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          description:
        </label>
        <textarea rows="" cols="" name='description'
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
        >
          <%=item.description%>
        </textarea>
      </div>
      <div class="mb-6">
        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Category:
        </label>
        <select name='category' 
        class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >  
          <% categories.forEach(function(option) { %>
          <option value="<%=option._id%>" <%= item.category && item.category.equals(option._id) ? 'selected' : '' %>><%=option.name%></option>   
          <% }) %>
        </select>
      </div>
      <div class="mb-6">
        <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          price:
        </label>
        <input type="number" name="price" value='<%=item.price%>'
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
      </div>
      <div class="mb-6">
        <label for="stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          stock
        </label>
        <input type="number" name="stock" value='<%=item.stock%>'
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
      </div>
      <button type="submit" 
        class="h-10 px-5 m-2 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800"
      >
        Save
      </button>

      <a href="/items" class="p-2.5 px-5 m-2 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800">
        cancel
      </a>
    </form>

    </div>
  </body>
</html>
