<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/items">back</a>
    <div>
      <p>Name: <%=item_detail.name%></p>
      <p>Descrip: <%=item_detail.description%></p>
      <p>Price: <%=item_detail.price%></p>
      <p>category: <%=categoryName.name%></p>
      <p>Stock: <%=item_detail.stock%></p>

      <a href="<%=item_detail.url%>/delete">delete</a>
      <a href="<%=item_detail.url%>/update">update</a>
    </div>
  </body>
</html>
